.card {
  position: relative;
  background-color: var(--card-bg);
  border-radius: var(--border-radius);
  padding: 0.5em;
  margin-bottom: 8px;
  box-shadow: var(--shadow);
  display: flex;
  align-items: stretch;
}

.card:hover {
  background-color: var(--board-bg);
}

.card:hover .card-actions {
  opacity: 1;
}

.drag-handle {
  cursor: grab;
  color: var(--border-color);
  display: flex;
  align-items: center;
  border-right: 1px solid var(--border-color);
  align-self: stretch;
}

.drag-handle:hover {
  color: var(--text-secondary);
}

.card-content {
  display: flex;
  justify-content: left;
  padding: 2px 6px;
}

.card-content-wrapper {
  flex-grow: 1;
  padding: 8px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}

.card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-weight: 500;
  font-size: 14px;
  text-align: left;
}

.card-amount {
  display: flex;
  align-items: right;
  gap: 6px;
  font-size: 12px;
  font-weight: bold;
  justify-content: right;
  padding: 2px 2px;
}

.card-date {
  font-size: 12px;
  color: var(--text-secondary);
  width: 100%;
  text-align: right;
}

.card-amount.receita {
  color: var(--color-receita);
}

.card-amount.despesa {
  color: var(--color-despesa);
}

.card-actions {
  position: absolute;
  top: 10%;
  right: 6px;
  transform: translateY(-50%);
  display: flex;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.card-action-btn {
  background: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--text-secondary);
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.card-action-btn:hover {
  background-color: var(--card-bg);
  color: var(--text-primary); 
}