.app-header {
  background-color: var(--header-bg);
  padding: 16px 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
}

.month-selector {
  display: flex;
  align-items: center;
  gap: 16px;
}
.month-selector h2 {
  margin: 0;
  text-transform: capitalize;
  width: 200px;
  text-align: center;
}
.month-selector button {
  background: none;
  border: none ;/*1px solid var(--border-color);*/
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: var(--text-primary);
  text-align: center;
}

.header-actions button {
    margin-left: 6px;
    padding: 8px 8px;
    margin-top: 100%;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: bold;
    opacity:0.6;
    background-color: transparent;
    color: var(--text-primary);
}

.header-actions button:hover{
  background-color: /*#dcdfe4;*/ var(--card-bg);
  color: var(--text-primary); 
}

.header-summary {
  display: flex;
  justify-content: center;
  gap: 48px;
  text-align: center;
}

.summary-item span {
  display: block;
  font-size: 14px;
  color: var(--text-secondary);
}

.summary-item strong {
  font-size: 20px;
}